/* celebration.css */
:root {
  --md-primary-fg-color: #c62828; /* 深红 */
  --md-primary-fg-color--light: #ef9a9a;
  --md-accent-fg-color: #ffab00; /* 亮金 */
}

.md-typeset .admonition.note,
.md-typeset details.note {
  background-color: #fffefe;
  border-color: #c45555;
}

.md-typeset .note > .admonition-title:before,
.md-typeset .note > summary:before,
.md-typeset .note > .admonition-title:after,
.md-typeset .note > summary:after {
  background-color: #c45555;
}

.md-typeset .note > .admonition-title,
.md-typeset .note > summary {
  background-color: #ff44441a;
}

.md-typeset .admonition.info,
.md-typeset details.info {
  background-color: #fdfaf9;
  border-color: #c66228;
}

.md-typeset .info > .admonition-title,
.md-typeset .info > summary {
  background-color: #d4ab001a;
}

.md-typeset .info > .admonition-title:before,
.md-typeset .info > summary:before,
.md-typeset .info > .admonition-title:after,
.md-typeset .info > summary:after {
  background-color: #c66228;
}

.md-typeset .admonition.tip,
.md-typeset details.tip {
  background-color: #fffafc;
  border-color: #c62865;
}

.md-typeset .tip > .admonition-title,
.md-typeset .tip > summary {
  background-color: #d400781a;
}

.md-typeset .tip > .admonition-title:before,
.md-typeset .tip > summary:before,
.md-typeset .tip > .admonition-title:after,
.md-typeset .tip > summary:after {
  background-color: #c62865;
}
